body{
  background-color: #fcfcfc;
}
.titulonivel1{
    text-align: center;
}
.conteiner{
    display: inline-block;
    width:400px;
    height:400px;
    position:absolute;
    left:50%;
    top: 10px;
    transform:translatex(-50%);
    border-radius: 100%;
}
.conteinerRadius{
    display:inline-block;
    width: 360px;
    height: 360px;
    position: absolute;
    left: 20px;
    top:20px;
    background-image:url(img/relogio.2.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius:100%;
}
.segundos{
    display: inline-block;
    width: 25%;
    height: 2px;
    position:absolute;
    left: 49.5%;
    transform-origin: left;
    top:180px;
    background-color:red;
}
.minutos{
    display: inline-block;
    width: 25%;
    height: 2px;
    position:absolute;
    left: 49.5%;
    transform-origin: left;
    top:180px;
    background-color:black;
}
.horas{
  display: inline-block;
  width: 25%;
  height: 2px;
  position:absolute;
  left: 49.5%;
  transform-origin: left;
  top:180px;
  background-color:rgb(19, 33, 163);
}
